<script src="~/Scripts/About.js"></script>

<div class="text-center" id="abouttabs">
    <button data-url="@Url.Action("Who", "Home")" type="button" class="btn btn-primary active about">Who</button>
    <button data-url="@Url.Action("What", "Home")" type="button" class="btn btn-primary about">What</button>
    <button data-url="@Url.Action("Why", "Home")" type="button" class="btn btn-primary about">Why</button>
    <button data-url="@Url.Action("How", "Home")" type="button" class="btn btn-primary about">How</button>
    <button data-url="@Url.Action("Where", "Home")" type="button" class="btn btn-primary about">Where</button>
</div>

<div id="aboutcontent">
</div>