@model Week6CodeChallenge.Models.W6ContactForm

<h1>Contact</h1>

<form role="form" class="text-center ajax-form" method="post" data-posturl="@Url.Action("Contact", "Home")">
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, "First Name")
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)

            @Html.LabelFor(model => model.LastName, "Last Name")
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)

            @Html.LabelFor(model => model.PhoneNumber, "Phone Number")
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, "Company Name")
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectDescription, "Project Description")
            @Html.EditorFor(model => model.ProjectDescription)
            @Html.ValidationMessageFor(model => model.ProjectDescription)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment)
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

    <input type="submit" value="Send Message" />
    <input type="reset" value="Clear" />
</form>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>